Tests: smoke
Depends: rdiff-backup
Restrictions: allow-stderr, superficial

Tests: version
Depends: @
Restrictions: allow-stderr

Tests: unit
Depends: @, python3-pytest, rdiff, procps
Restrictions: allow-stderr
